@import url("https://fonts.googleapis.com/css2?family=Tinos:ital@0;1&display=swap");

.App {
  font-family: "Tinos", serif;
  text-align: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-top: 15px;
  padding-right: 15px;
}
